body{
    background-color: rgb(255, 182, 193); /* Fondo rosa claro */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5em;
}

.fondoBlanco{
    background-color: white;
}

.fondoRosa{
    background-color: rgb(255, 182, 193); 
}

.bordeNegro{
    border: 2px solid black; 
    border-radius: 5px;
}

.imagen{
    width: 120px;
}

.texto1{
    text-align: center;
    font-size: 3em;
    color: rgb(4, 0, 7);
}

.texto2{
    font-size: 1em;
    background-color: rgb(209, 145, 228);
    text-align: justify;
}

.separacion{
    padding: 1em;
}

.texto3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

li{
    margin: 10px;
}
